<p>
    <div class="comment_header">
        {% if site.data.comments[page.slug] and site.data.comments[page.slug].size > 1 %}
        {{ site.data.comments[page.slug] | size }}
        {% endif %}
        Comments
    </div>
</p>
<div class="comment_area">
    <div class="comments_all">
        {% if site.data.comments[page.slug] %}
        {% assign comments = site.data.comments[page.slug] | sort %}
        <p>
            {% for comment in comments %}
            <div class="comment">
                <div class="comment_name">{{comment[1].name}}</div>
                <div class="comment_date"> {{comment[1].date | date: "%B %d, %Y"}} at {{comment[1].date | date: "%r"}}</div>
                <div class="comment_message">{{comment[1].message | markdownify}}</div>
            </div>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    <div class="comment_form">
        <form id="comment-form" autocomplete="off" method="POST" action="https://api.staticman.net/v2/entry/{{site.repository}}/{{site.staticman.branch}}/comments">
            <input name="options[redirect]" type="hidden" value="{{site.baseurl}}{{page.slug}}">
            <input name="options[slug]" type="hidden" value="{{page.slug}}">
            <label for="comment-form-name">Name*</label>
            <input type="text" id="comment-form-name" name="fields[name]">
            <label for="comment-form-email">E-mail</label>
            <input type="email" id="comment-form-email" name="fields[email]">
            <label for="comment-form-message">Message*</label>
            <textarea type="text" id="comment-form-message" name="fields[message]"></textarea>
            <p class="hidden js-notice" style="display:none;">
                <span class="js-notice-text"></span>
            </p>
            <button type="submit" id="comment-form-submit">Comment</button>
        </form>
    </div>
</div>
