<footer>
    <a href="https://github.com/JasmineOuO/CritterSitter" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/yumluv_214/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://ca.linkedin.com/in/jasmine-ou" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.facebook.com/jasmine.ou2" target="_blank"><i class="fa fa-facebook"></i></a>                
    <!-- <a href="https://byebyepiggy.blogspot.com/" target="_blank"><i class="fa fa-heart"></i></a> -->
    </br>
    <div style="margin-top:70px;">&copy; 2018 Jasmine Ou</div>
</footer>
