<footer>
    <div>
        <div id="plants">
            <div class="big-plants">
                <img src="resources/images/elements/cacti-icon.jpg" alt="plants" />
                <a href="https://github.com/JasmineOuO/CritterSitter" target="_blank" style="right: 473px; bottom: 99px"><i class="fa fa-github" style="font-size:35px; color: rgb(58,62,63)"></i></a>
                <a href="https://www.instagram.com/yumluv_214/" target="_blank" style="right: 33px; bottom: 102px"><i class="fa fa-instagram" style="font-size:40px; color: rgb(58,62,63)"></i></a>
                <a href="https://ca.linkedin.com/in/jasmine-ou" target="_blank" style="right: 395px; bottom: 99px"><i class="fa fa-linkedin" style="font-size:28px; color: rgb(58,62,63)"></i></a>
                <a href="https://www.facebook.com/jasmine.ou2" target="_blank" style="right: 320px; bottom: 99px"><i class="fa fa-facebook" style="font-size:28px; color: rgb(58,62,63)"></i></a>                
                <a href="https://byebyepiggy.blogspot.com/" target="_blank" style="right: 110px; bottom: 105px"><i class="fa fa-heart" style="font-size:15px; color: rgb(58,62,63)"></i></a>
            </div>
            <div class="small-plants">
                <img src="resources/images/elements/cacti-icon-small.jpg" alt="plants" />
                <a href="https://github.com/JasmineOuO/CritterSitter" target="_blank" style="right: 260px; bottom: 99px"><i class="fa fa-github" style="font-size:35px; color: rgb(58,62,63)"></i></a>
                <a href="https://www.instagram.com/yumluv_214/" target="_blank" style="right: 36px; bottom: 102px"><i class="fa fa-instagram" style="font-size:40px; color: rgb(58,62,63)"></i></a>
                <a href="https://ca.linkedin.com/in/jasmine-ou" target="_blank" style="right: 180px; bottom: 99px"><i class="fa fa-linkedin" style="font-size:28px; color: rgb(58,62,63)"></i></a>
                <a href="https://www.facebook.com/jasmine.ou2" target="_blank" style="right: 110px; bottom: 99px"><i class="fa fa-facebook" style="font-size:28px; color: rgb(58,62,63)"></i></a>
            </div>
        </div>
    </div>
</footer>
