<header>
    <img src="resources/images/elements/branches.png" width="1300" />
    <h1>Meaningful Nonsense</h1>
</header>

<nav class="topnav" id="myTopnav">

    {% for item in site.data.navigation %}
     
        {% if {{page.active}} == {{item.active}} %}
            {% assign class = "active" %}
        {% else %}
            {% assign class = "" %}
        {% endif %}

        {% if {{item.type}} == "category" %}
            <div class="dropdown">
                {% assign id = "" %}
                {% for tag in item.tags %}
                    {% if {{page.active}} == {{tag.active}} %}
                        {% assign id = "active" %}
                    {% endif %}
                {% endfor %}
                <a class="dropbtn" id={{id}}>{{item.name}}</a>
                <div class="dropdown-content">
                    {% for tag in item.tags %}
                        {% if {{page.active}} == {{tag.active}} %}
                            {% assign class = "active" %}
                        {% else %}
                            {% assign class = "" %}
                        {% endif %}
                        <a class="{{class}}" href="{{ site.baseurl }}{{tag.url}}">{{tag.name}}</a>
                    {% endfor %}
                </div>
            </div>
        {% else %}
                <a class="{{class}}" href="{{ site.baseurl }}{{item.url}}">{{item.name}}</a>
        {% endif %}
    {% endfor %}

    <a href="javascript:void(0);" class="icon" onclick="responsivenav()">&#9776;</a>
</nav>