<header>
    <img src="resources/images/elements/branches.png" width="1300" />
    <h1>Meaningful Nonsense</h1>
</header>

<nav class="topnav" id="myTopnav">

    {% for item in site.data.navigation %}

        {% if {{page.active}} == {{item.active}} and {{page.active}} != "home" %}
            {% assign active_class = "active" %}
        {% else %}
            {% assign active_class = "" %}
        {% endif %}

        {% if {{item.type}} == "category" %}
            {% assign dropdown_height = item.tags | size | times: 48 %}
            <div class="dropdown" id={{dropdown_height}}>
                {% assign active_id = "" %}
                {% for tag in item.tags %}
                    {% if {{page.active}} == {{tag.active}} %}
                        {% assign active_id = "active" %}
                    {% endif %}
                {% endfor %}
                <a class="dropbtn" id={{active_id}}>{{item.name}}</a>
                <div class="dropdown-content">
                    {% for tag in item.tags %}
                        {% if {{page.active}} == {{tag.active}} %}
                            {% assign active_class = "active" %}
                        {% else %}
                            {% assign active_class = "" %}
                        {% endif %}
                        <a class="{{active_class}}" href="{{ site.baseurl }}{{tag.url}}">{{tag.name}}</a>
                    {% endfor %}
                </div>
            </div>
        {% elsif {{item.type}} == "searchbar" and {{page.active}} == "search" %}
            <a class="search_icon" href="{{ site.baseurl }}/"><i class="fa fa-close" style="font-size:24px; color: rgba(58,62,63,0.5)"></i></a>
        {% elsif {{item.type}} == "searchbar" %}
            <a class="search_icon" href="{{ site.baseurl }}/search"><i class="fa fa-search" style="font-size:24px; color: rgba(58,62,63,0.5)"></i></a>
        {% else %}
            <a class="{{active_class}}" href="{{ site.baseurl }}{{item.url}}">{{item.name}}</a>
        {% endif %}
    {% endfor %}
    <a href="javascript:void(0);" class="icon" onclick="responsivenav()">&#9776;</a>
</nav>
