<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meaningful Nonsense</title>

    <link href="resources/css/main.css" type="text/css" rel="stylesheet" />
    <link href="resources/css/post.css" type="text/css" rel="stylesheet" />
    <link href="resources/css/responsive.css" type="text/css" rel="stylesheet" />
    <link href="resources/css/theme.css" type="text/css" rel="stylesheet" />

    <link href="vendors/sakura/jquery-sakura.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>