<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="front"><a title="{{include.title}}"><img id="myimg" class="myimg" src="resources/images/polaroids/{{include.img}}" alt="image not found" /></a></div>
        <div class="back">
            <h1>{{include.title}}</h1>
            <h2>{{include.subtitle}}</h2>
            <a title="{{include.dateTime | date: "%-d/%-m/%y" }}"></a>
            <a class="post-link" href="{{site.baseurl}}{{include.url}}"></a>
        </div>
    </div>
</div>