@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300|Montserrat';
@import 'https://fonts.googleapis.com/css?family=Cutive+Mono|Dancing+Script|Open+Sans+Condensed:300|Rock+Salt';

.post {
    margin: 12vw 20vw 10vw 20vw;
    font-family: "Monteserrat", sans-serif;
    line-height: 1.6;
    color: rgba(0,0,0,0.6);
    background-color: #fff;
}

    .post img {
        width: 100%;
        animation: fade-in 0.7s ease-in-out both 0.7s;
        -webkit-animation: fade-in 0.7s ease-in-out both 0.7s;
        -moz-animation: fade-in 0.7s ease-in-out both 0.7s;
        -o-animation: fade-in 0.7s ease-in-out both 0.7s;
        -ms-animation: fade-in 0.7s ease-in-out both 0.7s;
    }

#post-header {
    text-align: center;
    animation: slide-up 0.8s ease-in-out both;
    -webkit-animation: slide-up 0.8s ease-in-out both;
    -moz-animation: slide-up 0.8s ease-in-out both;
    -o-animation: slide-up 0.8s ease-in-out both;
    -ms-animation: slide-up 0.8s ease-in-out both;
}

.post h1 {
    font-family: "IBM Plex Serif", sans-serif;
    font-size: 4em;
    font-weight: 100;
}

.post-content {
    margin-top: 2em;
    margin-bottom: 0.25em;
    color: rgba(0,0,0,0.6);
    font-size: 18px;
}

time {
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

    time:before, time:after {
        content: "";
        display: inline-block;
        height: 2.5px;
        position: relative;
        vertical-align: middle;
        width: 30%;
        margin-top: 3em;
        margin-bottom: 3em;
        animation: slide-out 0.8s ease-in-out both 1s;
        -webkit-animation: slide-out 0.8s ease-in-out both 1s;
        -moz-animation: slide-out 0.8s ease-in-out both 1s;
        -o-animation: slide-out 0.8s ease-in-out both 1s;
        -ms-animation: slide-out 0.8s ease-in-out both 1s;
    }

    time:before {
        right: 1em;
        margin-left: -50%;
        background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.8));
    }

    time:after {
        left: 1em;
        margin-right: -50%;
        background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.8));
    }

/* Sliding up animation for post header */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
    }

    90% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes slide-up {
    0% {
        opacity: 0;
        -moz-transform: translate3d(0, 100%, 0);
    }

    90% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes slide-up {
    0% {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
    }

    90% {
        opacity: 1;
    }

    100% {
        -o-transform: translate3d(0, 0, 0);
    }
}

@-ms-keyframes slide-up {
    0% {
        opacity: 0;
        -ms-transform: translate3d(0, 100%, 0);
    }

    90% {
        opacity: 1;
    }

    100% {
        -ms-transform: translate3d(0, 0, 0);
    }
}

/*Fade in animation for post iamge*/
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Ombre fade out line animation for post date*/
@keyframes slide-out {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@-webkit-keyframes slide-out {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@-moz-keyframes slide-out {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@-o-keyframes slide-out {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@-ms-keyframes slide-out {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

.comment_area {
    margin: 0 20vw 30px 20vw;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

    input:focus, textarea:focus {
        border: 2px solid rgba(0,0,0,0.4);
    }

textarea {
    height: 150px;
    resize: none;
}

legend, button {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-decoration: none;
    font-size: 18px;
}

button {
    width: 100%;
    background-color: #e8c5d6;
    color: #544a4e;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #e8b4cd;
    }

.comment_header {
    margin: 50px 20vw -20px 25vw;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 85px;
    color: rgb(220,220,220);
}

.comment {
    font-family: "Monteserrat", sans-serif;
    line-height: 1.6;
    color: rgba(0,0,0,0.6);
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
    margin-bottom: 15px;
}

.comment_name {
    letter-spacing: 0.05em;
    font-size: 20px;
}

.comment_message {
    font-size:18px;
    margin-top:1em;
}

.comment_date {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: -0.6em;
}

.comment_form{
    margin-top: 2em;
}