@import 'https://fonts.googleapis.com/css?family=Bentham|IBM+Plex+Serif:300|Montserrat:400,500';
@import 'https://fonts.googleapis.com/css?family=Cutive+Mono|Dancing+Script|Open+Sans+Condensed:300|Rock+Salt';

.post {
    margin: 12vw 20vw 10vw 20vw;
    font-family: "Monteserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #676767;
    background-color: #fff;
}

    .post img {
        width: 100%;
        animation: fade-in 0.7s ease-in-out both 0.7s;
        -webkit-animation: fade-in 0.7s ease-in-out both 0.7s;
        -moz-animation: fade-in 0.7s ease-in-out both 0.7s;
        -o-animation: fade-in 0.7s ease-in-out both 0.7s;
        -ms-animation: fade-in 0.7s ease-in-out both 0.7s;
    }

#post-header {
    text-align: center;
    animation: slide-up 0.8s ease-in-out both;
    -webkit-animation: slide-up 0.8s ease-in-out both;
    -moz-animation: slide-up 0.8s ease-in-out both;
    -o-animation: slide-up 0.8s ease-in-out both;
    -ms-animation: slide-up 0.8s ease-in-out both;
}

#post-title {
    font-family: "IBM Plex Serif", sans-serif;
    font-size: 4em;
    font-weight: 100;
}

.post h1 {
    padding-top: 1em;
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

.post h2 {
    padding-top: 1em;
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.post h3 {
    padding-top: 1em;
    padding-bottom: .3em;
    font-size: 1.5em;
    line-height: 1.43;
}

.post h4 {
    padding-top: 1em;
    padding-bottom: .3em;
    font-size: 1.25em;
}

.post h5 {
    padding-top: 1em;
    padding-bottom: .3em;
    font-size: 1em;
}

.post h6 {
    padding-top: 1em;
    padding-bottom: .3em;
    font-size: 1em;
    color: #777;
}

.post-content {
    margin-top: 2em;
    margin-bottom: 0.25em;
    color: #676767;
    font-size: 18px;
}

time {
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

    time:before, time:after {
        content: "";
        display: inline-block;
        height: 2.5px;
        position: relative;
        vertical-align: middle;
        width: 30%;
        margin-top: 3em;
        margin-bottom: 3em;
        animation: slide-out 0.8s ease-in-out both 1s;
        -webkit-animation: slide-out 0.8s ease-in-out both 1s;
        -moz-animation: slide-out 0.8s ease-in-out both 1s;
        -o-animation: slide-out 0.8s ease-in-out both 1s;
        -ms-animation: slide-out 0.8s ease-in-out both 1s;
    }

    time:before {
        right: 1em;
        margin-left: -50%;
        background: linear-gradient(to right, #FFFFFF, #353535);
    }

    time:after {
        left: 1em;
        margin-right: -50%;
        background: linear-gradient(to left, #FFFFFF, #353535);
    }

.caption{        
    padding-top: 0.1em;
    padding-bottom: 2em;
    font-size: 0.7em;
    color: #777;
    text-align: center;
}

blockquote {
    position: relative;
    margin: 0;
    padding: .5rem;
    text-align: center;
    font-family: "Monteserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.4;
    color: #747474;
}
    
    blockquote:before, blockquote:after {
        font-family: 'Bentham', serif;
        font-weight: 400;
        font-style: normal;
        position: absolute;
        color: #858282;
        font-size: 8rem;
        width: 4rem;
        height: 4rem;
    }
    
    blockquote:before {
        content: '“';
        left: -5rem;
        top: -2rem;
    }
    
    blockquote:after {
        content: '”';
        right: -5rem;
        bottom: 1rem;
    }
    
cite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

/* Sliding up animation for post header */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
    }

    90% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes slide-up {
    0% {
        opacity: 0;
        -moz-transform: translate3d(0, 100%, 0);
    }

    90% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes slide-up {
    0% {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
    }

    90% {
        opacity: 1;
    }

    100% {
        -o-transform: translate3d(0, 0, 0);
    }
}

@-ms-keyframes slide-up {
    0% {
        opacity: 0;
        -ms-transform: translate3d(0, 100%, 0);
    }

    90% {
        opacity: 1;
    }

    100% {
        -ms-transform: translate3d(0, 0, 0);
    }
}

/*Fade in animation for post iamge*/
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Ombre fade out line animation for post date*/
@keyframes slide-out {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@-webkit-keyframes slide-out {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@-moz-keyframes slide-out {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@-o-keyframes slide-out {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@-ms-keyframes slide-out {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

.comment_area {
    margin: 0 20vw 30px 20vw;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.comment_form input, textarea {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

    .comment_form input:focus, textarea:focus {
        border: 2px solid #999999;
    }

textarea {
    height: 150px;
    resize: none;
}

label, button {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-decoration: none;
    font-size: 18px;
}

button {
    width: 100%;
    background-color: #e8c5d6;
    color: #544a4e;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #e8b4cd;
    }

.btn-disabled:hover {
    background-color: #e8c5d6;
}

.comment_header {
    margin: 50px 20vw -20px 25vw;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 85px;
    color: rgb(220,220,220);
}

.comment {
    font-family: "Monteserrat", sans-serif;
    line-height: 1.6;
    color: #676767;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
    margin-bottom: 15px;
}

.comment_name {
    letter-spacing: 0.05em;
    font-size: 20px;
}

.comment_message {
    font-size:18px;
    margin-top:1em;
}

.comment_date {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: -0.6em;
}

.comment_form{
    margin-top: 2em;
}

.js-notice-text {
    font-family: "Monteserrat", sans-serif;
    line-height: 1.6;
    text-decoration: none;
    font-size: 16px;
    color: #676767;
}

.js-notice{
    padding: 10px;
}
