---
title: About Us
layout: default
date: 2018-06-04
permalink: about.html
active: about
---

<div class="post" style="margin-bottom: 2em;">
    <div id="post-header">
        <div id="post-title">{{ page.title }}</div>
        <time class="post__time">{{ page.date | date: "%B %-d, %Y" }}</time>
    </div>
    <article class="post-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </article>
</div>
<div style="margin-left:auto; margin-right: auto;">
<div class="polaroid-wall">
    <div class="polaroid">
        {% include polaroid.html
            title="Jasmine Ou"
            subtitle="Jasmine"
            img="laptoplounge.jpg"
            url=""
            dateTime="1999-11-15"
            path="resources/images/polaroids/post-thumbnail"
        %}
    </div>
    <div class="polaroid">
            {% include polaroid.html
                title="Jessica Ou"
                subtitle="Jessie"
                img="laptoplounge.jpg"
                url=""
                dateTime="2002-10-09"
                path="resources/images/polaroids/post-thumbnail"
            %}
        </div>
</div>
</div>