---
title: About Us
layout: default
date: 2018-06-04
permalink: about.html
active: about
---

<div class="post" style="margin-bottom: 2em;">
    <div id="post-header">
        <div id="post-title">{{ page.title }}</div>
        <time class="post__time">{{ page.date | date: "%B %-d, %Y" }}</time>
    </div>
    <article class="post-content">
        This blog is nothing more than a collection of 1s and 0s. What you see is nothing more than a collection of colourful pixels. What you will find is nothing more than nonsense, but nothing short of meaningful. 
        <br/><br/>
        We are two sisters who seek to encapsulate the world we see into the four walls of a screen. Whether it be through the photography, short stories or thoughtful posts, we hope that you discover meaning in a world that's all too often nonsensical.
    </article>
</div>
<div id="profile">
    <div class="polaroid polaroid-flex-2">
        {% include polaroid.html
            back="Hello there~ My favourite colour is pink, I love instant photography, and taking pictures of what I eat is just as vital as eating itself. I designed and developed the blog to give my younger sister a space to share her writing. "
            front="Jasmine"
            img="jasmine.jpeg"
            url=""
			dateTime=""
            role="developer"
            path="resources/images/polaroids/post-thumbnail"
        %}
    </div>
    <div class="polaroid polaroid-flex-2">
		{% include polaroid.html
			back="There is something so magical about words. They are simply letters being scrambled together. But it's crazy when a jumble of thoughts or ideas can fabricate life and spark emotions when they are arranged in our own special way.  This blog allows me to see the splatters of my own visionaries on something tangible. Writing brings clarity, and sometimes, you don't truly know how you feel until you can organize the puzzle of ideas in your head and write it down."
			front="Jessie"
			img="jessica.jpg"
			url=""
			dateTime=""
			role="writer"
			path="resources/images/polaroids/post-thumbnail"
		%}
	</div>
</div>
