---
title: About Us
layout: default
date: 2018-06-04
permalink: about.html
active: about
---

<div class="post" style="margin-bottom: 2em;">
    <div id="post-header">
        <div id="post-title">{{ page.title }}</div>
        <time class="post__time">{{ page.date | date: "%B %-d, %Y" }}</time>
    </div>
    <article class="post-content">
        This blog is nothing more than a collection of 1s and 0s. What you see is nothing more than a collection of colourful pixels. What you will find is nothing more than nonsense, but nothing short of meaningful. 
        <br/><br/>
        We are two sisters who seek to encapsulate the world we see into the four walls of a screen. Whether it be through the photography, short stories or thoughtful posts, we hope that you discover meaning in a world that's all too often nonsensical.
    </article>
</div>
<div id="profile">
    <div class="polaroid polaroid-flex-2">
        {% include polaroid.html
            back="As you can probably tell from a single glance at our blog, my favourite colour is pink. I love instant photography and taking pictures of what I eat is just as vital as eating itself."
            front="Jasmine"
            img="jasmine.jpeg"
            url=""
			dateTime=""
            role="developer"
            path="resources/images/polaroids/post-thumbnail"
        %}
    </div>
    <div class="polaroid polaroid-flex-2">
		{% include polaroid.html
			back="Jessica Ou"
			front="Jessie"
			img="laptoplounge.jpg"
			url=""
			dateTime=""
			role="writer"
			path="resources/images/polaroids/post-thumbnail"
		%}
	</div>
</div>
