<html>

<head>
    <meta charset="utf-8">
    <title>Meaningful Nonsense</title>

    <link href="resources/css/main.css" type="text/css" rel="stylesheet" />
    <link href="resources/css/jquery-sakura.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>
    <header>
        <img src="resources/images/branches.png" width="1300" />
        <h1>Meaningful Nonsense</h1>
    </header>

    <nav class="topnav" id="myTopnav">
        <a href="{{ site.baseurl }}">Home</a>
        <a href="{{ site.baseurl }}/about">about</a>
        <div class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">PHOTOGRAPHY</a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/test-gallery">Everyday</a>
                <a href="#">Food</a>
                <a href="#">Travel</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">STORIES</a>
            <div class="dropdown-content">
                <a href="#">Motivational</a>
                <a href="#">Humor</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">LIFE</a>
            <div class="dropdown-content">
                <a href="#">Everyday Thoughts</a>
                <a href="#">What I've Learned</a>
            </div>
        </div>

        <a href="javascript:void(0);" class="icon" onclick="responsivenav()">&#9776;</a>

    </nav>

    {{content}}

    <!--https://www.w3schools.com/icons/icons_reference.asp-->
    <footer>
        <div>
            <div id="plants">
                <img src="resources/images/cacti-icon-plain.jpg" alt="plants" />
                <a href="https://github.com/JasmineOuO/CritterSitter" target="_blank" style="right: 473px; bottom: 9.9vw"><i class="fa fa-github" style="font-size:35px; color: rgb(58,62,63)"></i></a>
                <a href="https://www.instagram.com/yumluv_214/" target="_blank" style="right: 33px; bottom: 10.2vw"><i class="fa fa-instagram" style="font-size:40px; color: rgb(58,62,63)"></i></a>
                <a href="https://ca.linkedin.com/in/jasmine-ou" target="_blank" style="right: 395px; bottom: 9.9vw"><i class="fa fa-linkedin" style="font-size:28px; color: rgb(58,62,63)"></i></a>
                <a href="https://www.facebook.com/jasmine.ou2" target="_blank" style="right: 320px; bottom: 9.9vw"><i class="fa fa-facebook" style="font-size:28px; color: rgb(58,62,63)"></i></a>
            </div>
        </div>
    </footer>

    <script src="resources/js/main.js" async defer></script>
    <script src="resources/js/jquery-sakura.min.js" async defer></script>
</body>
</html>
<!--
<script>
    $(window).load(function () {
        $('body').sakura();
    });
</script>-->
