<html>

<head>
    <meta charset="utf-8">
    <title>Meaningful Nonsense | {{page.title}}</title>

    <link href="resources/css/main.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/jquery-sakura.css" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>
    <div id="banner">
        <img src="resources/images/branches.png" width="1300" />
        <h1>Meaningful Nonsense</h1>
    </div>

    <nav class="topnav" id="myTopnav">
        <a href="#">Home</a>
        <div class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">PHOTOGRAPHY</a>
            <div class="dropdown-content">
                <a href="polaroid-wall.html">Everyday</a>
                <a href="#">Food</a>
                <a href="#">Travel</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">STORIES</a>
            <div class="dropdown-content">
                <a href="#">Motivational</a>
                <a href="#">Humor</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">LIFE</a>
            <div class="dropdown-content">
                <a href="#">Everyday Thoughts</a>
                <a href="#">What I've Learned</a>
            </div>
        </div>

        <a href="javascript:void(0);" class="icon" onclick="responsivenav()">&#9776;</a>

    </nav>

    {{ content }}
    
    <script src="resources/js/main.js" async defer></script>
    <script src="resources/js/jquery-sakura.min.js" async defer></script>
</body>
</html>
<script>
        $(window).load(function () {
            $('body').sakura();
        });
    </script>
