---
layout: default
---

{% assign photography_path = "resources/images/polaroids/" | append: page.active %}

{% if page.active == "food" %}
    {% assign sorted_photos = site.data.food | sort: 'date' %}
    {% assign type = sorted_photos %}
{% elsif page.active == "travel" %}
    {% assign sorted_photos = site.data.travel | sort: 'date' %}
    {% assign type = sorted_photos %}
{% elsif page.active == "home" %}
	{% assign type = site.posts %}
{% elsif page.active == "life" %}
	{% assign type = site.categories.life %}
{% elsif page.active == "stories" %}
	{% assign type = site.categories.stories %}
{% elsif page.active == "humour" %}
	{% assign type = site.tags.humour %}
{% elsif page.active == "motivational" %}
	{% assign type = site.tags.motivational %}
{% elsif page.active == "life" %}
	{% assign type = site.categories.life %}
{% elsif page.active == "everydaythoughts" %}
	{% assign type = site.tags.everydaythoughts %}
{% elsif page.active == "learn" %}
	{% assign type = site.tags.learn %}
{% endif %}

<div class="polaroid-wall">
    <div class="polaroid">
        {% for item in type %}

            {% assign post_url = site.baseurl | append: item.url %}

            {% if page.active == "food" or page.active == "travel" %}
                {% include polaroid.html 
                    title=item.title 
                    subtitle=item.subtitle 
                    img=item.name 
                    url="none"
                    dateTime=item.date 
                    path=photography_path
                %}
            {% else %}
                {% include polaroid.html 
                    title=item.title 
                    subtitle=item.subtitle
                    img=item.image 
                    url=post_url 
                    dateTime=item.date 
                    path="resources/images/polaroids/post-thumbnail"
                %}
            {% endif %} 

        {% assign colSize = type | size | divided_by: 4.0 | ceil %}
        {% assign mod = forloop.index | modulo: colSize %}
        {% if mod == 0 %}
    </div>
    <div class="polaroid">
        {% endif %}
        {% endfor %}
    </div>
</div>