---
layout: default
---

<div class="post">
    <div id="post-header">
        <div id="post-title">{{ page.title }}</div>
        <time class="post__time">{{ page.date | date: "%B %-d, %Y" }}</time>
        <div id="post-author">By Jessica Ou</div>
    </div>
    <article class="post-content">
        {{ content }}
    </article>
    <div class="post-navigation" style="margin:0;">
        {% if page.previous.url %}
        <a href="{{page.previous.url}}" style="float:left; text-align:left;">
            <div style="margin:-8px 12px 0 0; float:left;">
                <i class="fa fa-angle-left"></i>
            </div>
            PREVIOUS POST<br/>
            <p>{{page.previous.title}}</p>
        </a>
        {% endif %}
        {% if page.next.url %}
        <a href="{{page.next.url}}" style="float:right; text-align:right;">
            <div style="margin:-8px 0 0 12px; float:right;">
                <i class="fa fa-angle-right"></i>
            </div>
            NEXT POST<br/>
            <p>{{page.next.title}}</p>
        </a>
        {% endif %}
    </div>
</div>



{% include comments.html %}